@font-face {
  font-family: 'Playfair';
  src: url('../assets/fonts/playfair/Playfair9pt-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('../assets/fonts/playfair/Playfair9pt-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair';
  src: url('../assets/fonts/playfair/Playfair9pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('../assets/fonts/playfair/Playfair9pt-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair';
  src: url('../assets/fonts/playfair/Playfair9pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('../assets/fonts/playfair/Playfair9pt-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair';
  src: url('../assets/fonts/playfair/Playfair9pt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('../assets/fonts/playfair/Playfair9pt-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
